<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OAuth tutorial</title>
</head>
<body>
  <nav>
    <ul>
      <% if (user) { %>
      <li>
        <a href="/auth/logout">Logout</a>
      </li>
      <% } else { %>
      <li>
        <a href="/auth/login">Login</a>
      </li>
      <% } %>
      <li>
        <a href="/">Home</a>
      </li>
    </ul>
  </nav>

  <header>
    <!--use = when outputing data -->
    <h1>Welcome to your profile, <%= user.username %></h1>
  </header>

  <main>
    <img src="<%= user.thumbnail %>" alt="">
    <p>
      extra information about you.
    </p>
  </main>
</body>
</html>
